@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
  --light-blue: #00a6fb;
  --blue: #006494;
  --light-blue2: #0077b5;
  --gray: rgb(170, 170, 170);
  --dark-gray: #181a1b;
  --dark-blue: #002333;
  --text-color: #fff;
  --lighter-text: rgb(219, 219, 219);
  --card-background: #2e3031;
  --skills-span: rgb(200, 200, 200);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark-gray);
  font-family: 'Montserrat', sans-serif;
}

/* HEADER AND NAV */
header {
  background-size: cover;
  min-height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.nav-text {
  color: var(--text-color);
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-left: 6rem;
}

span {
  color: var(--light-blue);
}

nav img {
  width: 40px;
  margin-right: 6em;
  border-radius: 20px;
}

/* HERO */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: var(--text-color);
  text-align: center;
}

.hero h1 {
  font-size: calc(1.2rem + 3.2vw);
}

header .hero p {
  color: var(--lighter-text);
  line-height: 1.6;
  font-size: calc(14px + 0.5vw);
  padding: 0.5rem;
  color: var(--lighter-text);
  line-height: 1.6;
  font-size: calc(14px + 0.5vw);
  padding: 0.5rem;
}

.hero p{
  color: var(--lighter-text);
  line-height: 1.6;
  font-size: calc(14px + 0.5vw);
  padding: 0.5rem;
}

.hero .btns {
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero .btns a {
  margin: 1rem 0.5rem;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  background: var(--light-blue2);
  color: var(--text-color);
}

.hero .btns a:hover {
  color: var(--text-color);
  background-color: var(--blue);
}

.vignette {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.7) inset;
}


#contact .links .icons,
.hero .icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.hero .icons {
  justify-content: center;
}

a {
  color: var(--light-blue2);
}

a:hover {
  color: var(--blue);
}

.hero.icons a {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  #about .container {
    flex-direction: column-reverse;
  }

  .user-img {
    margin-top: 3rem;
    width: 30%;
  }
  
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .hero .btns {
    margin-bottom: 0.5rem;
  }

  .hero .btns a {
    margin: 0.3rem;
  }

  header nav .nav-text {
    margin-left: 2rem;
  }

  header nav img {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 100vh;
  }

  .hero {
    width: 100%;
  }
}
